{% extends "layout.html" %}

{% block title %}
    Joingame
{% endblock %}

{% block main %}
<head>
    <audio controls autoplay loop id="myAudio" style="display: none">
        <source src="https://github.com/Lilou-coder/Projet-NSI/raw/main/musique_Zh8uWuGw.mp3" type="audio/mp3">
    </audio>
</head>

<form action="/joingame" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="game_code" placeholder="Code game" type="text">
    </div>

    <button class="btn btn-primary" type="submit" href="game.html">Rejoindre le jeu</button>
</form>

{% endblock %}