nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #470f6c;
}
nav .navbar-brand .red
{
    color: #84699a;
}

/* Buttons position for games*/

.game-button-up-right { 
    width: 40%;
    height: 175px;
    background-color: #5D3FD3; /* Blue */
    border-radius: 10px ;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px 32px;
    text-align: center;
    margin-top: auto;
    display: inline-block;
    font-size: 20px ;

}

.game-button-up-left { 
    width: 40%;
    height: 175px;
    background-color: #5D3FD3; /* Blue */
    border-radius: 10px ;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px 32px;
    text-align: center;
    margin-top: auto;
    display: inline-block;
    font-size: 20px;


}

.game-button-down-right {
    width: 40%;
    height: 175px; 
    background-color: #5D3FD3; /* Blue */
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px 32px;
    text-align: center;
    margin-top: 20px;
    display: inline-block;
    font-size:20px;

}

.game-button-down-left { 
    width: 40%;
    height: 175px;
    background-color: #5D3FD3; /* Blue */
    border-radius: 10px ;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px 32px;
    text-align: center;
    margin-top: 20px;
    display: inline-block;
    font-size: 20px;

}

/* End of button position*/ 


  
.text
{
    color:#4f4337;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}


.fixedButton{
    position: fixed;
    bottom: 0px;
    right: 0px; 
    padding: 20px;
}
.roundedFixedBtn{
  height: 60px;
  line-height: 50px;  
  width: 60px;  
  font-size: 4em;
  font-weight: bold;
  border-radius: 50%;
  background-color: #1f687e;
  color: white;
  text-align: center;
  cursor: pointer;
}

.button {
    background-color: #5D3FD3; /* Blue */
    border-radius: 10px ;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
}

.button_rules {
    background-color: #5D3FD3; /* Blue */
    border-radius: 10px ;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
}

/* unvisited link */
a:link {
color: white;
}
/* visited link */
a:visited {
color: white;
}

/* mouse over link*/
a:hover {
    color: rgb(255, 255, 255);
}

.blankspace{
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
}

.blankspace_2{
    padding-top: 100px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
}

.blank{
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
}


.center{
    margin-left: auto;
    margin-right: auto;
}

.form-control{
    min-width: 100%;
}

.centrer-horizontalement {
    position: absolute; /* postulat de départ */
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%);
    margin-top: 10%;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    right: 0;
    background-color: #5D3FD3;
    min-width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dropdown:hover .dropdown-content {
    display: block;
}