{% extends "layout.html" %}

{% block title %}
    Game
{% endblock %}

{% block javascript %}
    <script>
        <!--
        function timedRefresh(timeoutPeriod) {
            setTimeout("location.reload(true);",timeoutPeriod);
        }
        
        window.onload = timedRefresh(10000);
        
        //   -->
    </script>
{% endblock %}

{% block main %}
    <table class="table tablestriped">

        <thead>
            <tr>
                <th class="text-start" style="color:white" >Ton code est: {{gamecode}}</th>
            </tr>
        </thead><thead>
            <tr>
                <th class="text-start" style="color: white">Joueurs</th>
            </tr>
        </thead>
        {% for player in players %}
        <tr>
            <td class="text-start" style="color: white">{{ player["username"] }}</td>
        </tr>
        {% endfor %}
    </table>
    <form action="" method="post">
        <button class="btn btn-primary"> Commence</button>
    </form>
    
{% endblock %}