{% extends "layout.html" %}

{% block title %}
    Contactez-nous
{% endblock %}

{% block main %}
    <p style="color: white"><i> Une idée? Envoyez nous un email!</i></p>
    <form action="/contacteznous" method="post" class="needs-validation">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom01" style="color: white">Prénom</label>
                <input type="text" class="form-control" name="first_name" placeholder="Prénom" required>
                <div class="valid-feedback">
                    Super!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom02" style="color: white">Nom de Famille</label>
                <input type="text" class="form-control" name="last_name" placeholder="Nom de Famille" required>
                <div class="valid-feedback">
                    Super!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustomUsername" style="color: white">Email</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                    </div>
                    <input type="text" class="form-control" name="email" placeholder="Email" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Veulez rentrer votre email.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1" style="color: white">Idée</label>
            <input class="form-control" name="idea" rows="3" placeholder="Inspirez-nous..." required></input>
            <div class="invalid-feedback">
                Veulez remplir cette case.
            </div>
        </div> 
    </form>

<button type="submit" name="feedbackform" style="background-color: #5D3FD3; border-radius: 10px ;width: 200px; height: 75px; color:white">Envoyer</button>
{% endblock %}