{% extends "layout.html" %}

{% block title %}
    Creategames
{% endblock %}

{% block main %}

<form class="blankspace" action="/creategame" method="post" style="width: 300px" class="centrer-horizontalement" >
    

    <label for="cars" style="color:white">Choisis un sujet:</label>

    <select name="subject" style="background: rgba(141, 168, 236, 0.915) ; border-color: black; color: black">
        <option value="Histoire">Histoire</option>
        <option value="SVT">SVT</option>
        <option value="Maths">Maths</option>
        <option value="Geographie">Geographie</option>
    </select>

    <input autocomplete="off" autofocus class="form-control" name="number_of_questions" placeholder="entre 2 et 15 questions " min="1" max="15" type="number"
    style="background: rgba(141, 168, 236, 0.915) ; border-color: black; color: black">
    <input autocomplete="off" autofocus class="form-control" name="time" placeholder="entre 5 et 20 secondes" min="3" max="20" type="number"
    style="background: rgba(141, 168, 236, 0.915) ; border-color: black; color: black">

    <button class="btn btn-primary" type="submit">Jouer</button>
    

</form>


{% endblock %}