{% extends "layout.html" %}

{% block title %}
    Creategames
{% endblock %}

{% block main %}

<form class="blankspace" action="/creategame" method="post">

    <label for="cars">Choose a subject:</label>

    <select name="subject" >
        <option value="Histoire">Histoire</option>
        <option value="SVT">SVT</option>
        <option value="Maths">Maths</option>
        <option value="Geographie">Geographie</option>
    </select>

    <input autocomplete="off" autofocus class="form-control" name="number_of_questions" placeholder="Number of questions" min="1" max="15" type="number">
    <input autocomplete="off" autofocus class="form-control" name="time" placeholder="Time for each question" min="3" max="20" type="number">

    <button class="btn btn-primary" type="submit">Submit</button>
    

</form>


{% endblock %}