{% extends "layout.html" %}

{% block title %}
    Game
{% endblock %}

{% block javascript %}
    <script>
        <!--
        function timedRefresh(timeoutPeriod) {
            setTimeout("location.reload(true);",timeoutPeriod);
        }
        
        window.onload = timedRefresh(10000);
        
        //   -->
    </script>
{% endblock %}

{% block main %}

    <audio controls autoplay loop>
        <source src="https://vgmsite.com/soundtracks/mario-paint-game-rip/beevmkcpjb/01%20Mario%20Paint.mp3" type="audio/mp3">
    </audio>

    {% if progress == -1 %}
    <h1>Please Wait</h1>
    {% else %}
        <table class="table tablestriped">
            <thead>
                <tr>
                    <th class="text-start">{{ question }}</th>
                </tr>
            </thead>
        </table>
        <form method = "post">
            <button class="button" type="submit" name="answer" value = 1> {{ answer1 }} </button>
            <button class="button" type="submit" name="answer" value = 2> {{ answer2 }} </button>
            <button class="button" type="submit" name="answer" value = 3> {{ answer3 }} </button>
            <button class="button" type="submit" name="answer" value = 4> {{ answer4 }} </button>
        </form>
    {% endif %}

{% endblock %}