{% extends "layout.html" %}

{% block title %}
    Game
{% endblock %}

{% block javascript %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
            $(function() {
            $('a#test').on('click', function(e) {
                e.preventDefault()
                $.getJSON('/background_process_test',
                    function(data) {
                //do nothing
                });
                return false;
            });
            });
    </script>
{% endblock %}

{% block main %}

    <audio controls autoplay loop id="myAudio">
        <source src="https://vgmsite.com/soundtracks/mario-paint-game-rip/beevmkcpjb/01%20Mario%20Paint.mp3" type="audio/mp3">
    </audio>

    <style>
        #myAudio {
          display: none;
        }
      </style>

    {% if progress == -1 %}
    <h1>Please Wait</h1>
    {% else %}
        <header style="color:white; font-weight: bold ; padding: 20px 20px; text-align: right;">
            Your score is: {{score}} </header>
        <table style="color:white; font-size: 30px ; margin: auto; margin-top:20px; margin-bottom: 80px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            <thead>
                <tr>
                    <th class="text-start">{{ question }}</th>
                </tr>
            </thead>
        </table>

<!-- Button of game -->       
        
        <form method = "post">
            <button href=# id=test class="game-button-up-right" type="submit" name="answer" value = 1> {{ answer1 }} </button>
            <button href=# id=test class="game-button-up-left" type="submit" name="answer" value = 2> {{ answer2 }} </button>
        </form>
        <form>
            <button href=# id=test class="game-button-down-left" type="submit" name="answer" value = 3> {{ answer3 }} </button>
            <button href=# id=test class="game-button-down-right" type="submit" name="answer" value = 4> {{ answer4 }} </button>
        </form>

 
       
    {% endif %}

{% endblock %}