{% extends "layout.html" %}

{% block title %}
    Homepage 
{% endblock %}

{% block main %}

<head>
    <audio controls autoplay loop id="myAudio" style="display: none">
        <source src="https://github.com/Lilou-coder/Projet-NSI/raw/main/musique_Zh8uWuGw.mp3" type="audio/mp3">
    </audio>
</head>
<body >
    <div class="dropdown" >
        <button class="button_rules"> Règles du jeu</button>
        <div class="dropdown-content">
            <ul style="color: white">
                <li>Choisissez un thème, le nombre de question et le temps</li>
                <li>Partagez le code de l'administrateur avec vos amis</li>
                <li>Commencez et répondez aux questions!</li>
            </ul>
        </div>
    </div>
    <p>
        
<div class="blankspace_2" 
style="color:aliceblue; 
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
font-size: 30px" >

    <p>Bienvenue sur Kraken! </p>

    <table class="center">
        <tr>
            <td>
                <button class="button"><a class="nav-link" href="/jouer">Jouer</a></button>
                <button class="button"><a class="nav-link" href="/contacteznous">Une idée? Contactez-nous!</a></button>
            </td>
        </tr>
    </table>
    
</div>

    </p>
</body>





{% endblock %}