{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

<div class="blankspace">

    <p>Bienvenue sur Kraken! Voici les règles du jeu</p>

    <table class="center">
        <tr>
            <td>
                <button class="button"><a class="nav-link" href="/jouer">Jouer</a></button>
            </td>
            <td></td>
            <td>
                <button class="button"><a class="nav-link" href="/contacteznous">Une idée? Contactez-nous!</a></button>
            </td>
        </tr>
    </table>
    
</div>

{% endblock %}