{% extends "layout.html" %}

{% block title %}
    Jouer
{% endblock %}

{% block main %}

<header>Your score is {{score}}!</header>
<div class="blankspace">

    <table class="center">
        <tr>
            <td>
                <button class="button" on click="newgame()"><a class="nav-link" href="/creategame">Creer le jeux</a></button>
                <button class="button" ><a class="nav-link" href="/joingame">Rejoindre un jeu</a></button>
            </td>
            <td></td>

        </tr>
    </table>
    
</div>

{% endblock %}
